build
coverage
dist
node_modules
server/tests/**/*.js
.babelrc
.coveralls.yml
.eslintrc
.hound.yml
.nyc_output/
.prettierrc.json
.travis.yml
docker-compose.yml
jsconfig.json
package.json
process.yml
README.md
swagger.yml